@{
    Layout = "_Layout";
}

@section head {
    <link rel="stylesheet" href="~/css/LoginRegister/Register.css" />
}

<div class="Register-Main">
    <div class="Register-Success-Container">
        <h2>Registrering fuldført</h2>
        <a href="/login">Gå tilbage til login</a>
    </div>
</div>

@section Scripts {
    <script src="~/js/Register.js" type="module"></script>
}