@{
    Layout = "_Layout";
}

@section head {
    <link rel="stylesheet" href="~/css/Admin/Admin.css" />
    <link rel="stylesheet" href="~/css/Admin/Partials.css" />
}

<div class="Admin-Main-Container">
    <div class="Admin-Header-Main-Contianer">
        <div class="Admin-Header-Titles-Container">
            <div class="Admin-Dropdown" id="Admin-Dropdown-Organization">
                <div class="Admin-Header-Title">
                    Organisation
                </div>
                <div class="Admin-Dropdown-Content-Style" id="Admin-Dropdown-Content-Organization">
                    <div id="AddOrganization" apiurl="/admin/addorganization" class="Admin-Dropdown-Option">Opret organisation</div>
                    <div id="AddRegisterCode" apiurl="/admin/addregistercode" class="Admin-Dropdown-Option">Oprettelseskode</div>
                </div>
            </div>
            <div class="Admin-Dropdown" id="Admin-Dropdown-Product">
                <div class="Admin-Header-Title">
                    Produkt
                </div>
                <div class="Admin-Dropdown-Content-Style" id="Admin-Dropdown-Content-Product">
                    <div id="AddProduct" apiurl="/admin/addproduct" class="Admin-Dropdown-Option">Opret produkt</div>
                    <div id="AddCategory" apiurl="/admin/addcategory" class="Admin-Dropdown-Option">Opret varekategori</div>
                    <div id="AddColor" apiurl="/admin/addcolor" class="Admin-Dropdown-Option">Opret farve</div>
                    <div id="AddSize" apiurl="/admin/addsize" class="Admin-Dropdown-Option">Opret størrelse</div>
                    <div id="AddExtraChoice" apiurl="/admin/addextrachoice" class="Admin-Dropdown-Option">Opret ekstra valg</div>
                </div>
            </div>
        </div>
    </div>
    <div id="Admin-Partial-Container">
        <div class="Admin-Placeholder">
            <h3>Velkommen til administrator siden</h3>
            <h3>Vælg en kategori</h3>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Admin.js" type="module"></script>
}